$primary-color: #3498db;
$background-color: #ecf0f1;
$text-color: #2c3e50;

body {
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

h1 {
  color: $primary-color;
}

.video-container {
  margin-bottom: 20px;

  h2 {
    color: $primary-color;
    margin-bottom: 10px;
  }

  .react-player {
    border-radius: 8px;
    overflow: hidden;
  }
}