// Header.scss

.header-container {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2c3e50;  // Change background color on hover to a different color
  }

  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;

    &:hover {
      color: #d35400;  // Change text color on hover to a different color
    }
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;

        &:hover {
          color: #d35400;  // Change text color on hover to a different color
        }
      }
    }
  }
}
