.main_page{
    .dashboard{
        display: flex;
        justify-content: start;
        flex-direction: column;
        .set_courses{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 10px solid;
            .card{
                width: 15rem;
            }
        }
    }
}