.main_page{
    .dashboard{
        display: flex;
        justify-content: start;
        flex-direction: column;
        .set_courses{
            background-color: red;
            : 0, 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-radius: 10px solid;
            .card{
                width: 18rem;
                img{
                    height: 150px;
                    width: 18rem;
                    object-fit: cover;
                }
            }
        }
    }
}