.main_page{
    .dashboard{
        display: flex;
        justify-content: start;
        flex-direction: column;
        .set_courses{
            // background-color: red;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border: 2px solid gray;
            border-radius: 12px;
            padding: 50px;
            .card{
                width: 18rem;
                border: 1px solid gray;
                img{
                    height: 125px;
                    width: 18rem;
                    object-fit: cover;
                }
            }
            .card:hover
        }
    }
}