.main_page{
    .dashboard{
        display: flex;
        justify-content: ;
        flex-direction: column;
        .set_courses{
            .card{
                width: 15rem;
            }
        }
    }
}