.sign-in-container{
    background-image: url('../../images/bgimg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        background-color: white;
        padding: 50px;
        border: 1px solid;
        border-radius: 10px;
        img{
            border-radius: ;
        }
        h1{
            color: green;
        }
    }
}