.sign-in-container{
    background: url('../../images/bgimg.jpg') opacify($color: #fff, $amount: 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    form{
        background-color: white;
        padding: 100px;
        border: 1px solid;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 5px 10px 5px gray;
        img{
            border-radius: 10px;
            height: 200px;
        }
        h1{
            color: green;
        }
    }
}