.sign-in-container{
    background-image: url('https://static1.bigstockphoto.com/0/5/3/large2/350007640.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        background-color: white;
        padding: 50px;
        border: 3px solid;
        border: ;
        h1{
            color: green;
        }
    }
}